.moje
{
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-weight: bold;
      font-size: 20px;
      border: solid 1px;
      margin-left: 2px;
        
}
.moje::before
{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
}


.moje2
{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: azure;
        font-weight: bold;
}

.moje3
{
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        border: solid 1px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 2px;
}


.mojewin
{
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        border: solid 1px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 2px;
        filter: brightness(150%);
        
   
}

.plus
{
    float: left;
    width: 100px;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 2px;
    
}

.wygrane
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(40, 206, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
    border: solid black 1px;
    margin-left: 2px;
        
}

.wygrane::before
{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
}


